{:paths ["src", "test"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        nrepl/nrepl {:mvn/version "0.8.3"}
        org.apache.sshd/sshd-core {:mvn/version "2.7.0"
                                   :exclusions [org.apache.sshd/sshd-mina org.apache.sshd/sshd-netty]}}
 :aliases {:dev
           {:extra-deps {org.slf4j/slf4j-simple {:mvn/version "1.7.30"}}}}}