{:paths ["src", "test"]
 :deps {com.taoensso/timbre {:mvn/version "5.1.2"}
        nrepl/nrepl {:mvn/version "0.8.3"}
        org.apache.sshd/sshd-core {:mvn/version "2.7.0"
                                   :exclusions [org.apache.sshd/sshd-mina org.apache.sshd/sshd-netty]}
        org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases {:dev {:extra-deps {org.slf4j/slf4j-simple {:mvn/version "1.7.32"}
                              com.widdindustries/tools.jvm {:mvn/version "0.1.4"}}}
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "1.0.0"}
                                   org.slf4j/slf4j-simple {:mvn/version "1.7.32"}}
                      :main-opts ["-m" "antq.core"]}
           :build {:deps {io.github.clojure/tools.build {:tag "v0.3.0" :sha "e418fc9"}}
                   :ns-default build}}}